@import url(/assets/ETX-routes/css/reusable-css.css);

.gallery-home{
    height: 100vh;
    padding-top: 10rem;
    color: var(--body-color);
    overflow: hidden;
}

.gallery-home-container{
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.main-logo-container img{
    width: 64px;
}

.gallery-home-title{
    position: relative;
    text-align: center;
    font-weight: 300;
}

.title-line{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, 0);
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);
}

.title-line-alt{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-100%, 0);
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);
}

.gallery-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.gallery-list-item h4{
    font-weight: var(--font-regular);
}

.gallery-button{
    height: 64px;
    width: 118px;
    border: 4px solid var(--body-color);
    border-radius: var(--border-radius);
    display: grid;
    place-items: center;
}

.home-background-image{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    filter: brightness(70%);
    transition: all .4s ease-in-out;
    transform: scale(.9);
    border-radius: var(--border-radius);
    box-shadow: 4px 4px 8px 4px #0e171b3b;
}

.scale{
    transform: scale(1.1);
}

.images-gallery{
    padding-top: 8rem;
}

.images-gallery-container{
    gap: 2rem;
}

.image-card-primary{
    height: 568px;
    width: 100%;
}

.image-card-secondary{
    height: 304px;
    width: 100%;
}

.image-card-primary img,
.image-card-secondary img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.image-card-video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.image-card{
    transition: all .4s ease-in-out;
}

.image-card-alt{
    height: 400px;
    transition: all .4s ease-in-out;
}

.image-card:hover{
    transform: scale(1.1);
    box-shadow: 4px 4px 8px 4px #0e171b3b;
    /* margin: 0; */
    z-index: 7;
}

@media screen and (min-width: 700px){

    .gallery-list{
        flex-direction: row;
        gap: 3rem;
    }

    .images-gallery-container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .image-card-video{
        grid-column: span 2;
        grid-row: span 1;
    }

    .image-card-primary{
        height: 500px;
    }

    .image-card-secondary{
        height: 500px;
    }
}