
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


.container{
    margin-right: 2rem;
    margin-left: 2rem;
}


/* -================================= HOME SECTION ================================- */
.home{
    padding-top: 10rem;
    display: flex;
    align-items: center;
    color: var(--body-color);
    height: 100vh;
    overflow: hidden;
}

.home-container{
    gap: 1rem;
}

.home-subtitle{
    font-weight: var(--font-regular);
}

.home-title{
    font-weight: var(--font-regular);
}

.home-title span{
    font-weight: var(--font-bold);
    color: var(--body-color);
}

.home-info-container{
    gap: 2rem;
}

.home-info-list{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.home-background-video {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    filter: brightness(70%);
    transition: all .4s ease-in-out;
    transform: scale(.9);
    border-radius: var(--border-radius);
    box-shadow: 4px 4px 8px 4px #0e171b3b;
}

.scale{
    transform: scale(1.1);
}

.home-list-item p{
    font-size: var(--h4-font-size);
}
/* -============================================================================- */


/* -================================= GALLERY SECTION ================================- */
.gallery{
    padding-top: 8rem;
}

.gallery-container{
    gap: 4rem;
}

.gallery-title{
    text-align: center;
    font-size: var(--h2-font-size);
}

.gallery-grid-list{
    width: 100%;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: 176px 176px 368px 176px;
}

.g-i-1,
.g-i-5{
    grid-column: span 2;
    grid-row: span 1;
    transition: all .2s ease-in-out;
}

.g-i-2,
.g-i-3{
    grid-column: span 1;
    grid-row: span 1;
}

.g-i-4{
    grid-column: span 2;
    grid-row: span 1;
}

.g-i-6,
.g-i-7,
.g-i-8{
    display: none;
}

.gallery-grid-item{
    position: relative;
    transition: all .4s ease-in-out;
    margin: .5rem;
}

.gallery-grid-item img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.gallery-grid-item:hover{
    transform: scale(1.1);
    box-shadow: 4px 4px 8px 4px #0e171b3b;
    margin: 0;
    z-index: 7;
}

.gallery-buttons-container{
    gap: 1rem;
}

.gallery-button{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.gallery-button h4{
    color: var(--text-color);
}
/* -============================================================================- */


/* -================================= SERVICES SECTION ================================- */
.services-container{
    gap: 3rem;
}

.services-list{
    gap: 1rem;
}

.services-list-item{
    gap: 1rem;
}

.list-item-line{
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--accent-color);
}

.incepted-list{
    margin: 1rem 0;
    gap: 2rem;
}

.incepted-list-item{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.box{
    content: '';
    height: 16px;
    width: 16px;
    background-color: var(--container-color);
    transition: all .2s ease-in-out;
    border-radius: var(--border-radius);
}

.incepted-list-item:hover .box{
    height: 4px;
}

.incepted-list-item:hover .incepted-item-description{
    font-weight: var(--font-bold);
}

.incepted-item-description{
    font-size: 24px;
    font-weight: var(--font-regular);
    transition: all .2s ease-in-out;
}

.service-list-button{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.services-list-item p{
    margin: 1rem 0;
    color: var(--text-color);
    font-weight: var(--font-medium);
    font-size: 24px;
}

.services-list-item img{
    height: 16px;
    width: 16px;
}
/* -============================================================================- */


/* -================================= PORTFOLIO SECTION ================================- */
.portfolio-title{
    text-align: center;
    margin-bottom: 2rem;
}

.portfolio-card{
    position: relative;
    width: 100%;
    height: 688px;
}

.portfolio-card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio-card-title{
    position: absolute;
    top: -100%;
    right: 2rem;
    color: var(--body-color);
    transition: all .6s ease-in-out;
}

.portfolio-card-button{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: -100%;
    left: 2rem;
    transition: all .6s ease-in-out;
    height: 64px;
    width: max-content;
    padding: 0 1rem;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
}

.portfolio-card-button h4{
    color: var(--body-color);
}

.portfolio-card-button img{
    height: 16px;
    width: 16px;
}

.portfolio-card:hover .portfolio-card-button{
    bottom: 2rem;
}

.portfolio-card:hover .portfolio-card-title{
    top: 2rem;
}
/* -============================================================================- */

/* -================================= ABOUT SECTION ================================- */
.about-container{
    gap: 3rem;
}

.about-box-one{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 192px 432px;
    gap: 1rem;
}

.a-i-1,
.a-i-2{
    grid-row: span 1;
    grid-column: span 1;
}

.a-i-3{
    grid-column: span 2;
}

.a-i-1{
    background-color: var(--accent-color);
}

.a-i-2{
    background-color: var(--container-color);
}

.about-list-item{
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: var(--border-radius);
    color: var(--body-color);
    position: relative;
}

.about-list-item p{
    font-size: 24px;
}

.about-img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.about-box-two{
    gap: 1rem;
}

.about-subtitle span{
    color: var(--primary-color);
}

.about-subtitle{
    margin-bottom: 1rem;
}

.about-buttons-container{
    margin-top: 1rem;
    gap: 1rem;
}
/* -================================== CONTACT SECTION =======================================- */

.contact-container{
    gap: 4rem;
}

.contact-titles-container{
    gap: 1rem;
}

.contact-title{
    font-weight: var(--font-regular);
    text-align: center;
}

.contact-title span{
    font-weight: var(--font-bold);
}

.contact-description{
    text-align: center;
}

.contact-form{
    gap: 2rem;
}

textarea,
input{
    border: none;
    background-color: transparent;
    border-bottom: 4px solid var(--container-color) ;
}

.contact-form-group{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* max-width: 324px; */
}

.contact-form-group label{
    font-weight: var(--font-bold);
}

.contact-button{
    margin-top: 2rem;
    justify-self: center;
}

.contact-button button{
    width: 178px;
    height: 32px;
    display: flex;
    align-items: center;
    background-color: transparent;
    gap: .5rem;
}

.contact-button{
    color: var(--primary-color);
}
/* -=================================== FOOTER SECTION ======================================- */

.footer{
    background-color: var(--accent-color);
    padding-top: 4rem;
    color: var(--body-color);
}

.footer-container{
    gap: 3rem;
}

.footer-responsive-container{
    justify-content: space-between;
    gap: 3rem;
}

.footer-contact-info{
    gap: 2rem;
}

.footer-contact-info-list{
    gap: 1rem;
}

.contact-footer-list-item{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-footer-list-item{
    color: var(--body-color);
}

.contact-footer-list-item i{
    font-size: 1rem;
}

.contact-footer-list-item p{
    font-size: var(--normal-font-size);
}

.contact-footer-list-item p:hover{
    font-weight: var(--font-bold);
    margin: 0 .5rem;
    transition: all .4s ease-out;
}

.footer-site-links-container{
    gap: 2rem;
}

.site-links-group{
    gap: 1rem;
}

.site-links-list{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.site-link a{
    color: var(--body-color);
    font-weight: var(--font-regular);
}

.footer-line{
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--body-color);
    margin: 4rem 0 2rem;
}

.footer-credits-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.etx-software{
    color: var(--body-color);
    display: flex;
    align-items: center;
    gap: .5rem;
}

.etx-software span{
    font-weight: var(--font-bold);
}

.ja{
    font-size: var(--normal-font-size);
    font-weight: 300;
}

/* -================================= CSS BREAKPOINTS ================================- */
/* -==== For medium devices ====- */
@media screen and (min-width: 700px){

    .services-list{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .grid-item-three,
    .grid-item-four{
        grid-column: span 2;
        grid-row: span 1;
    }

    .about-container{
        flex-direction: row;
        align-items: center;
    }

    .footer-credits-container{
        flex-direction: row;
    }
}

/* -==== For medium - large devices ====- */
@media screen and (min-width: 1024px){

    /* REUSABLE CSS CLASSES */
    .container{
        margin-right: auto;
        margin-left: auto;
    }
    .responsive-container{
        flex-direction: row;
    }

    .home-info-container{
        align-items: center;
    }

    .gallery-grid-list{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 176px);
    }

    .g-i-6,
    .g-i-7,
    .g-i-8{
        display: block;
    }

    .g-i-1,
    .g-i-8{
        grid-column: span 2;
        grid-row: span 1;
    }

    .g-i-4,
    .g-i-5,
    .g-i-6{
        grid-column: span 2;
        grid-row: span 2;
    }

    .g-i-7{
        grid-row: span 1;
        grid-column: span 2;
    }

    .services-list{
        grid-template-columns: repeat(3, 1fr);
    }

    .about-container{
        align-items: center;
    }

    .about-box-two{
        max-width: 500px;
    }
}
/* -==================================================================================- */
